In [30]:
import numpy as np
import pandas as pd
from sklearn.linear_model import LinearRegression
np.random.seed(0)

In [31]:
df=pd.read_csv("abalone.csv")
df

,Sex,Length,Diameter,Height,Whole weight,Shucked weight,Viscera weight,Shell weight,Rings
0,M,0.455,0.365,0.095,0.5140,0.2245,0.1010,0.1500,15
1,M,0.350,0.265,0.090,0.2255,0.0995,0.0485,0.0700,7
2,F,0.530,0.420,0.135,0.6770,0.2565,0.1415,0.2100,9
3,M,0.440,0.365,0.125,0.5160,0.2155,0.1140,0.1550,10
4,I,0.330,0.255,0.080,0.2050,0.0895,0.0395,0.0550,7
...,...,...,...,...,...,...,...,...,...
4172,F,0.565,0.450,0.165,0.8870,0.3700,0.2390,0.2490,11
4173,M,0.590,0.440,0.135,0.9660,0.4390,0.2145,0.2605,10
4174,M,0.600,0.475,0.205,1.1760,0.5255,0.2875,0.3080,9
4175,F,0.625,0.485,0.150,1.0945,0.5310,0.2610,0.2960,10
4176,M,0.710,0.555,0.195,1.9485,0.9455,0.3765,0.4950,12

In [32]:
# Drop the column with the independent variable 
y = df["Rings"] 
df.drop('Rings', axis = 1, inplace = True)
df

,Sex,Length,Diameter,Height,Whole weight,Shucked weight,Viscera weight,Shell weight
0,M,0.455,0.365,0.095,0.5140,0.2245,0.1010,0.1500
1,M,0.350,0.265,0.090,0.2255,0.0995,0.0485,0.0700
2,F,0.530,0.420,0.135,0.6770,0.2565,0.1415,0.2100
3,M,0.440,0.365,0.125,0.5160,0.2155,0.1140,0.1550
4,I,0.330,0.255,0.080,0.2050,0.0895,0.0395,0.0550
...,...,...,...,...,...,...,...,...
4172,F,0.565,0.450,0.165,0.8870,0.3700,0.2390,0.2490
4173,M,0.590,0.440,0.135,0.9660,0.4390,0.2145,0.2605
4174,M,0.600,0.475,0.205,1.1760,0.5255,0.2875,0.3080
4175,F,0.625,0.485,0.150,1.0945,0.5310,0.2610,0.2960
4176,M,0.710,0.555,0.195,1.9485,0.9455,0.3765,0.4950

In [33]:
##Fix dummy variables 
df = pd.get_dummies(df)
df.drop('Sex_M', axis = 1, inplace = True)
x=df
x

,Length,Diameter,Height,Whole weight,Shucked weight,Viscera weight,Shell weight,Sex_F,Sex_I
0,0.455,0.365,0.095,0.5140,0.2245,0.1010,0.1500,0,0
1,0.350,0.265,0.090,0.2255,0.0995,0.0485,0.0700,0,0
2,0.530,0.420,0.135,0.6770,0.2565,0.1415,0.2100,1,0
3,0.440,0.365,0.125,0.5160,0.2155,0.1140,0.1550,0,0
4,0.330,0.255,0.080,0.2050,0.0895,0.0395,0.0550,0,1
...,...,...,...,...,...,...,...,...,...
4172,0.565,0.450,0.165,0.8870,0.3700,0.2390,0.2490,1,0
4173,0.590,0.440,0.135,0.9660,0.4390,0.2145,0.2605,0,0
4174,0.600,0.475,0.205,1.1760,0.5255,0.2875,0.3080,0,0
4175,0.625,0.485,0.150,1.0945,0.5310,0.2610,0.2960,1,0
4176,0.710,0.555,0.195,1.9485,0.9455,0.3765,0.4950,0,0

In [34]:
from sklearn.preprocessing import PolynomialFeatures
polynomial_features= PolynomialFeatures(degree=2)
x_poly = polynomial_features.fit_transform(x)
x_poly

array([[1.   , 0.455, 0.365, ..., 0.   , 0.   , 0.   ],
       [1.   , 0.35 , 0.265, ..., 0.   , 0.   , 0.   ],
       [1.   , 0.53 , 0.42 , ..., 1.   , 0.   , 0.   ],
       ...,
       [1.   , 0.6  , 0.475, ..., 0.   , 0.   , 0.   ],
       [1.   , 0.625, 0.485, ..., 1.   , 0.   , 0.   ],
       [1.   , 0.71 , 0.555, ..., 0.   , 0.   , 0.   ]])

In [35]:
def create_polynomial_regression_model(degree):
  
  
  poly_features = PolynomialFeatures(degree=degree)
  
# transforms the existing features to higher degree features.
  X_train_poly = poly_features.fit_transform(X_train)
 # fit the transformed features to Linear Regression  

  poly_model = LinearRegression()
  poly_model.fit(X_train_poly, Y_train)
  
 # predicting on training data-set
  y_train_predicted = poly_model.predict(X_train_poly)
  
  # predicting on validation data-set
  y_valid_predict = poly_model.predict(poly_features.fit_transform(X_valid))
  # evaluating the model on training dataset
  mse_train = mean_squared_error(Y_train, y_train_predicted)
 # evaluating the model on validation dataset
  mse_valid = mean_squared_error(Y_valid, y_valid_predict)
   
  return (mse_train,mse_valid,degree)

In [36]:
#separating train and validation
from sklearn.model_selection import train_test_split
X_train, X_valid, Y_train, Y_valid = train_test_split(x, y, test_size=0.5, random_state=1)

In [37]:
from sklearn.metrics import mean_squared_error, r2_score
a=[]
##
for i in range(1,10):
    a.append(create_polynomial_regression_model(i))
df = pd.DataFrame(a,columns=['Training Error','Validation Error','Degree'])
df

   Training Error  Validation Error  Degree
0    4.762501e+00      5.001233e+00       1
1    4.195599e+00      7.196973e+00       2
2    3.681203e+00      9.677299e+01       3
3    2.612559e+00      4.316362e+07       4
4    7.887930e-01      1.263824e+12       5
5    1.669216e-05      1.316404e+14       6
6    3.636395e-07      5.371465e+13       7
7    4.777625e-06      2.229739e+13       8
8    5.551086e-06      2.182290e+13       9

In [38]:
df.sort_values(by=['Validation Error'])
##sorting validation error so we can see best model

   Training Error  Validation Error  Degree
0    4.762501e+00      5.001233e+00       1
1    4.195599e+00      7.196973e+00       2
2    3.681203e+00      9.677299e+01       3
3    2.612559e+00      4.316362e+07       4
4    7.887930e-01      1.263824e+12       5
8    5.551086e-06      2.182290e+13       9
7    4.777625e-06      2.229739e+13       8
6    3.636395e-07      5.371465e+13       7
5    1.669216e-05      1.316404e+14       6